<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-1 fw-normal">ABOUT US</h1>
        <p class="lead fw-normal">Cranes Varsity: An Edtech and a Finishing school</p>
      </div>
    </div>
    <div class="bg-primary-subtle">
        <div class="p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">Cranes Varsity</h1>
          <div class="lead fw-normal">
            
            <p>Cranes Varsity is a pioneer Technical Training institute turned EdTech Platform offering Technology educational services for over 24 years</p>
            <p>• Being a trusted partner of over 5000+ reputed Academia, Corporate & Defence Organizations we have successfully trained 1 Lakh+ engineers and placed 70,000+ engineers</p>
            <p>• Cranes Varsity offers high-impact hands-on technology training to Graduates,  Universities, Working  Professionals, and the Corporate & Defence sectors.</p>
            <p>• As trusted recruitment & Training partner we engage our Corporate through the “Hire, Train & Deploy” Model</p>
            <p>• We stand by our principle – “We Assist Until We Place”- consistently strive for participants’ satisfaction and dedication to placement.</p>
            <p>Cranes Varsity is a pioneer Technical Training institute turned EdTech Platform offering Technology educational services for over 24 years. A division of Cranes Software International Ltd, Cranes Varsity was established with an ambitious vision of bridging the gap between the technology academia and the industry.  The team continuously strives to be an organization that brings together technology and education, empowering aspiring professionals to seek assured placements and a lucrative career path.</p>
            <p>Being a trusted partner of over 5000+ reputed Academia, Corporate & Defence Organizations we have successfully trained 1 Lakh+ engineers via its network of 2000+ Universities & colleges and placed 70,000+ engineers at major Indian Corporate & MNCs. Over 50,000+ Alumnae testifying our legacy and are the great ambassadors of Cranes Varsity Brand through their jobs worldwide.</p>
            <p>Cranes Varsity carries a legacy of being the Authorized-training partner for Texas Instruments, MathWorks, Wind River & ARM. Cranes Varsity has training leadership in EMBEDDED, MATLAB & DSP, extending training domains to emerging industry trends like Automotive, IoT, VLSI, Java full-stack, Data Science & Business Analytics.</p>
          </div>
        </div>
      </div>
    
  </main>