<div class="container-fluid">
  <div class="row">
    <main >
      <h2 class="text-center">Services</h2>
      <div class="text-center tab">
        <table class="table table-striped table-bordered h-15">
          <thead>
            <tr>
              <th scope="col">Course Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PG Diploma in Embedded And Automotive Systems</td>
              <td>March 8th (Offline)<br>March 22th (Offline)</td>
              <td>5 Months</td>
            </tr>
            <tr>
              <td>PG Diploma in IoT And Embedded Systems</td>
              <td>March 8th (Offline)<br>March 22th (Offline)</td>
              <td>5 Months</td>
              </tr>
            <tr>
              <td>PG Diploma in VLSI Design And Verification</td>
              <td>March 8th (Offline)<br>March 22th (Offline)</td>
              <td>5 Months</td>
            </tr>
            <tr>
              <td>PG Diploma in Full Stack Java Development</td>
              <td>March 6th (Offline)</td>
              <td>5 Months</td>
            </tr>
            <tr>
              <td>PG Diploma in Data Science and Machine Learning</td>
              <td>March 15th (Offline)</td>
              <td>5 Months</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>