
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
    <main class="px-3">
        <img src="./assets/cranes.png" class="border rounded"/>
      <h1 class="text-center">Cranes Varsity: <small>An Edtech and a Finishing school</small></h1>
      <p class="lead">Cranes Varsity is a pioneer Technical Training institute turned EdTech Platform offering Technology educational services for over 24 years. A division of Cranes Software International Ltd, Cranes Varsity was established with an ambitious vision of bridging the gap between the technology academia and the industry.  The team continuously strives to be an organization that brings together technology and education, empowering aspiring professionals to seek assured placements and a lucrative career path.</p>
      <p class="lead">
        <a href="https://www.cranesvarsity.com/" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  </div>